* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: black;
}

.tab {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* 탭 헤더 (버튼들) */
.tab__header {
  display: flex;
  border-bottom: 1px solid #3f3f3f;
  padding: 12px 8px;
  gap: 4px;
}

.tab__navigator {
  display: flex;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.tab__navigator:hover {
  border-radius: 4px;
  background-color: #262626;
}

.tab__navigator.active {
  border-radius: 4px;
  background-color: #262626;
}

.tab__navigator-divider {
  display: flex;
  color: #a3a3a3;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}
